@import '/mixins/mixins'
@import '/mixins/sprite'
@import 'global'

.header
  position fixed
  width 100%
  height 95px
  padding 20px
.logo
  font-size 24px
.logo__icon
  display inline-block
  width 55px
  height 55px
  border-radius 50%
  border 1px solid #7986CB
  background-color  white
  color #263238
  text-align center
  line-height 55px
  cursor pointer
  transition: all 0.5s ease-out 0s
  &:hover
    background #7986CB
    color white
.main
  padding 95px 0 0 0
.site-description
  padding 50px 20px
  color black
.site-description--color-white
  color #ffffff
.site-description__board
  display inline-block
  vertical-align top
  width 300px
  margin 0 20px 20px 20px
  padding 20px
  border-radius 5px
  background-color white
  box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
.site-description__logo
  margin 0 0 10px 0
.site-description__title
  margin 0
  font-size 56px
  line-height 40px
.site-description__sub-title
  margin 0
  font-size 24px
  font-weight normal

.main-nav__list-item
  display inline-block
  margin 0 5px
.main-nav__list-lnk
  color #E0DCE7
  font-size 14px
  text-decoration none
  text-transform uppercase
  &:hover
    color #ffffff

.modal
  position fixed
  top 0
  left 0
  display none
  width 100%
  height 100%
  background rgba(0,0,0,0.6)
.modal__layout
  position absolute
  top 0
  left 0
  width 100%
  height 100%
.modal__wrap
  position absolute
  width 600px
  height 500px
  background #fff
  box-shadow 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22)
.modal__inner
  padding 60px
.modal__title
  padding 30px 60px 30px
  box-shadow 0 1px 5px rgba(0, 0, 0, 0.25)
  background $lgreen
  color #ffffff
  font-size 24px
  text-transform uppercase
.modal__close
  position absolute
  top 15px
  right 15px
  width 35px
  height 35px
  border-radius 50%
  color #fff
  line-height 34px

  cursor pointer
  box-shadow 0 2px 0px rgba(0, 0, 0, 0.25)
  transition all 0.35s ease-out
  &:hover
    box-shadow none
    .modal__close-hover
      width 100%
      height 100%
      opacity 1
.modal__close-hover
  position: absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  opacity 0
  width 0
  height 0
  border-radius 50%
  background rgba(128, 128, 128, 0.35)
  transition all 0.35s ease-out
.modal__close-icon
  position relative
  z-index 2
  vertical-align middle
