@import '/mixins/mixins'
@import '/mixins/sprite'
@import 'global'

.header
  padding 20px
  box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
.logo
  font-size 24px
.logo__icon
  display inline-block
  width 55px
  height 55px
  border-radius 50%
  border 1px solid #7986CB
  background-color  white
  color #263238
  text-align center
  line-height 55px
  cursor pointer
  transition: all 0.5s ease-out 0s
  &:hover
    background #7986CB
    color white

.site-description
  padding 20px
  color $bgrey
.site-description__board
  display inline-block
  width 300px
  height 500px
  margin 0 20px 20px 20px
  border 1px solid $bgrey
  border-radius 5px
  background-color white
  box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

