@import '/mixins/mixins'
@import '/mixins/sprite'

/*Переменные настройки*/
headerHeight = auto
footerHeight = 80px
placeholderColor = #000
containerWidth = 1170px

/*Цветовая палитра*/
$red = #F44336
$pink = #E91E63
$purple = #9C27B0
$dpurple = #673AB7
$indigo = #3F51B5
$blue = #2196F3
$lblue = #03A9F4
$cyan = #00BCD4
$teal = #009688
$green = #4CAF50
$lgreen = #8BC34A
$lime = #CDDC39
$yellow = #FFEB3B
$amber = #FFC107
$orange = #FF9800
$dorange = #FF5722
$brown = #795548
$grey = #9E9E9E
$bgrey = #607D8B
$black = #000000
$white = #ffffff




*
  box-sizing border-box
  inline-box-align align-content

/*Стилизация placeholder*/
input
  placeholder(#ffffff)

/*сброс стилей для списков*/
.unstyled
  margin 0
  padding 0
  list-style none

/*Скрытие текста*/
hide-text
  text-hide()

/*иконки*/
.g-icon
  display block
  background url("../img/bg/sprite.png") no-repeat


/*Футер к низу страницы*/

.html
.body
  height 100%
.wrapper
  height auto !important
  height 100%
  min-height: 100%
  margin 40px auto - footerHeight
  padding:20px

#wrapper
  max-width 1400px
.footer-push
  height footerHeight
.footer
  height footerHeight
.no-padding
  padding 0!important

.blk--red
  background-color $red


