* {
  box-sizing: border-box;
  inline-box-align: align-content;
}
input::-webkit-input-placeholder {
  color: #fff !important;
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
          transition: text-indent 0.3s ease;
}
input::-moz-placeholder {
  color: #fff !important;
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
input:-moz-placeholder {
  color: #fff !important;
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
input:-ms-input-placeholder {
  color: #fff !important;
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
input:-ms-input-placeholder:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
input:-ms-input-placeholder:focus::-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
input:-ms-input-placeholder:focus:-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
input:-ms-input-placeholder:focus:-ms-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
.unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.t-center {
  text-align: center;
}
.g-icon {
  display: block;
  background: url("../img/bg/sprite.png") no-repeat;
}
.html,
.body {
  height: 100%;
  background-color: #e8eaf6;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
}
.wrapper {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 40px auto -80px;
  padding: 20px;
}
#wrapper {
  max-width: 1400px;
}
.footer-push {
  height: 80px;
}
.footer {
  height: 80px;
}
.no-padding {
  padding: 0 !important;
}
.blk--red {
  background-color: #f44336;
}
.blk--dpurple {
  background-color: #673ab7;
}
.header {
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.logo {
  font-size: 24px;
}
.logo__icon {
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #7986cb;
  background-color: #fff;
  color: #263238;
  text-align: center;
  line-height: 55px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out 0s;
          transition: all 0.5s ease-out 0s;
}
.logo__icon:hover {
  background: #7986cb;
  color: #fff;
}
.site-description {
  padding: 20px;
  color: #607d8b;
}
.site-description__board {
  display: inline-block;
  width: 300px;
  height: 500px;
  margin: 0 20px 20px 20px;
  border: 1px solid #607d8b;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
